.top_links{
    color: black;
}
.top_links .top_links_ul{
    list-style-type: none;
    
}

.top_links .top_links_ul>li{
    float: left;
    margin: 0 20px;
    width: 100px;
    text-align: center;
    height: 30px;
    box-sizing:border-box; 
    position: relative;

     
}
.top_links .top_links_ul>li:hover{
    background: #ccc;
    border: 2px solid #ccc;
    border-bottom: none;
 
}

.top_links .top_links_ul>li .submenu{
    text-align: left;
    line-height: 1.5;
    width: 200px;
    display: none;
    border: 2px solid #ccc;
    box-sizing:border-box; 
    position: absolute;
    right: -2px;  
    background: white;
}

.top_links .top_links_ul>li:hover .submenu{
    display: block;
}

.top_links .search{
    position: relative;
}

.top_links .top_links_ul>li:hover:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: #fff;
}


